/*
GENERAL SETUP
*/

* {
    box-sizing: border-box;
    vertical-align: top;
}

html {
  margin: 0;
  height: 100%;
  background-color: #333;
  color: #fff;
}
  
html,
body {
  font-family: sans-serif;
  line-height: 1.2rem;
}

label {
  font-size: 1.2em;
}

textarea {
  resize: none;
  border-radius: 0.5rem;
}

a {
  color: #fff;
}

a:hover {
  color: #999;
}

.branding {
  margin-top: 1.2em;
  height: 80px;
  width: 100%;
}

.branding-image {
  height: 100%;
  max-width: 500px;
  min-width: 500px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid #fff;
}
  
h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  margin-top: 0.67em;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  color: #fff;
}

h2 {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  text-align: right;
  font-size: 0.8em;
  z-index: -1;
}

.footer > p {
  margin: 0;
  padding: 0;
}


/*
PAGE GRID
*/

main {
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  grid-template-rows: 1fr;
}

.control-body {
  grid-column: 2;
  grid-row: 1;
  min-width: 500px;
  max-width: 500px;
}

.new-message {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
}


/*
FORM GRID
*/

.encrypt-controls,
.decrypt-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
  
.message-control {
  grid-column-start: 2;
  grid-row-start: 1;
}

.noteURL {
  grid-column-start: 2;
  grid-row-start: 2;
}
  
.encrypt-button {
  grid-column-start: 2;
  grid-row-start: 3;
}


/* 
FORM STYLES & LAYOUT
*/

.description {
  margin-bottom: 1em;
  margin-top: 0.67em;
}
  
.description > p {
  margin: 0;
  text-align: center;
  font-size: 0.8em;
}
  
.control {
  background-color: #555;
  box-shadow: -1px 2px 5px #000;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
}
  
.encrypt-controls > *,
.decrypt-controls > *
{
  margin: 0.5rem 0;
}
  
input[type="button"] {
  width: 5rem;
  margin-bottom: 1.2em;
}
  
#aes-gcm-message,
#noteURL-value,
#decrypted-value {
  padding-left: 0.5rem;
  font-family: monospace;
  margin: 0.5em 0;
}

#noteURL-value,
#decrypted-value {
  background-color: #999;
}

#decrypted-value {
  margin-bottom: 1.2em;
}

.copied-text {
  float: right;
  opacity: 0;
}


/*
RESPONSIVE
*/

@media (max-width: 1024px) {
  html { font-size: 1.5em; }
  textarea { font-size: 1.2em; }
  main { grid-template-columns: 1fr 10fr 1fr; }
  .control-body { max-width: max-content; }
  input[type="button"] { width: 10rem; height: 2rem; font-size: 1em; }
}

@media (max-width: 860px) {
  textarea { font-size: 1em; }
}

  
/*
ANIMATIONS
*/

.fade-in {
  animation: fadein 0.5s;
}

.opaque {
  opacity: 1;
}
  
@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.loader {
  position: absolute;
  margin: 20px 10px;
  visibility: hidden;
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0)
  }
}