</section>
</section>

<% if (apionly !== true) { %>
<div class="new-message">
    <a href="../">create a new message</a>
</div>
<% } %>

</main>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>