</section>
</section>

<% if (apionly !== true) { %>
<div class="new-message">
    <a href="../">create a new message</a>
</div>
<% } %>

</main>
<div class="footer">
    <p>powered by <a href="http://github.com/jmunzo/notelock" target="_blank">notelock</a></p>
</div>

<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>