<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <% if (typeof(cipher) !== 'undefined') { %>
    <meta property="cipher" content="<%= cipher %>" />
  <% } %>
  <title>notelock</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  <% if (branding !== '') { %>
    <link rel="stylesheet" type="text/css" href="<%= branding %>" />
  <% } %>
</head>

<body>
  <% if (branding !== '') { %>
    <div class="branding">
      <a href="../"><div class="branding-image"></div></a>
    </div>
  <% } %>
  <h1><a href="../">notelock</a></h1>
  <div class="description">
    <% if (branding === '') { %>
    <p>a minimalist zero-knowledge plaintext encryption platform</p>
    <p>by <a href="http://github.com/jmunzo" target="_blank">github.com/jmunzo</a></p>
    <% } %>
  </div>
  <main>
    <section class="control-body">
      <section class="control aes-gcm">